DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=sater
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_ACCESS_SECRET=Y99Kw7P12qEKGQ4/HQEVDg
JWT_REFRESH_SECRET=x3QxK68uuoHON21O2Rpuag
JWT_FORGET_SERCRET= this key has to be generated with command: openssl genrsa -out private.pem 2048
NODE_ENV=development
PORT=3000
BASE_URL=